.questions-page
  .questions
    border-bottom 1px solid $pageBorderColor

    .question-items
      margin-top 80px
      margin-bottom 30px

    .question
      display inline
      font-size 28px
      color #999
      font-weight bold
      line-height 60px
      margin-left 15px

      .form-control
        height 40px
        font-weight normal
        font-size 25px

    .required-fields
      color $darkBlue
      font-size 18px
      margin-bottom 20px

    .questions-expert
      margin-bottom -99999px
      padding-bottom 99999px
      background-color #999

  .questions.row
    overflow hidden

@media (max-width: 767px)
  .questions-page
    .questions
      border none
      .question-items
        margin-top 20px
