.product-removed-overlay
  position absolute
  background-color #717171
  top 0
  height 100%
  width 100%
  opacity 0.9
  border-radius 5px
  text-align center

  .item-removed
    color #FFF
    margin-top 140px
    font-size 26px

    p
      margin-bottom 30px

    .add-back-button
      background-color transparent
      color #FFF
      font-weight bold
      border 2px solid #FFF
    .add-back-button:hover
      color #DDD
      border-color #DDD
