.product
  width 300px
  border 1px solid $productBorderColour
  border-radius 5px
  float left
  margin-left 5px
  margin-right 5px

  .product-image-container
    text-align center
    height 170px

    img
      max-height 170px
      text-align center

  .product-controls
    background-color #f8fafc
    padding 20px
    border-top 1px solid $productBorderColour

    h1
      font-size 22px
      text-transform uppercase
      color $darkBlue
      margin 0 0 5px 0

    .product-price
      font-size 22px
      color $darkBlue
      margin-bottom 10px
