.expert-contact
  color #FFF
  text-align center
  font-size 20px
  margin-top 40px

  .row
    background-color $darkBlue

  .expert-contact-msg
    padding-top 50px
    padding-bottom 30px

  .expert-contact-options
    padding-bottom 50px
    font-size 16px

    p
      margin-top 10px

  a
    color #FFF
  a:hover
    color #EEE
    text-decoration none

  .expert-avatar
    width 120px

  .expert-loading
    padding-top 50px
    padding-bottom 50px
