.cart-expert
  background-color $mediumBlue
  color #FFF
  font-size 18px
  padding-top 40px
  padding-bottom 40px

  i
    color #FFF
    margin-right 10px

  .expert-phone
    margin-left 10px

  .expert-left
    text-align center

    p
      padding 0
      margin 5px 0

  .expert-welcome
    font-size 30px
    margin-bottom 0

  .expert-overview
    font-size 24px
    margin-top 20px

  .expert-chat
    margin-top 20px

    i
      vertical-align middle

    a
      color #FFF
      text-decoration underline
    a:hover
      color #FFF
