.header-container
  border-left 1px solid $pageBorderColor
  border-right 1px solid $pageBorderColor

.content-container
  border-left 1px solid $pageBorderColor
  border-right 1px solid $pageBorderColor
  box-shadow 0 1px 7px rgba(39, 59, 78, 0.1)

@media (max-width: 767px)
  .header-container
    border none
  .content-container
    border none
    box-shadow none
