.wizard-answer.wizard-selected-answer
  background-color #142230
  border-radius 5px
  box-shadow 5px 5px 3px rgba(20,34,48,0.50)

.wizard-answer.no-image
  border 2px solid #FFF
  border-radius 5px

.wizard-answer.wizard-selected-answer.no-image
  border none
  border 2px solid transparent

.wizard-answer
  float left
  padding 20px
  margin 0 20px 40px 20px
  width 140px
  max-width 140px


  .wizard-answer-image
    margin-bottom 10px

  .wizard-answer-content
    text-align center
    font-weight bold
    font-size 18px
