.wizard-modal
  .modal-content
    border-radius 0
    background-color $darkBlue
    color #FFF

    .modal-header
      border-bottom none
      padding-bottom 0

      .close
        color #FFF
        text-shadow none
        opacity 1
        font-weight normal
        font-size 30px

    .modal-body
      padding-top 0
      text-align center

  .pagination
    margin-top 25px

    a
      margin 0 5px
      background-color transparent
      border-color #FFF
      color #FFF

  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>li>a:focus,
  .pagination>li>a:hover
    background-color #FFF
    color $darkBlue
    border-color #FFF

  .pagination>li:first-child>a
    border-radius 0
    margin-left 5px

  .pagination>li:last-child>a
    border-radius 0
    margin-right 5px
