.wizard-answer.wizard-selected-answer
  background-color #142230
  border-radius 5px
  box-shadow 5px 5px 3px rgba(20,34,48,0.50)

.wizard-answer
  float left
  padding 20px
  margin 0 20px 20px 20px

  .wizard-answer-content
    text-align center
    font-weight bold
    margin-top 10px
