header
  .navbar-default
    background-color $darkBlue
    border none
    text-align center
    margin-bottom 0
    border-radius 0

    .navbar-brand
      color #FFF

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover,
    .navbar-nav>li>a,
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover
      background-color transparent
      font-size 16px
      font-weight bold

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover,
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover
      color #FFF

    .nav>li>a
      padding 15px 10px

    .navbar-nav
      display inline-block
      float none
      vertical-align top

    .number-circle
      border-radius 50% !important
      padding 1px 7px
      border 2px solid
      text-align center
      margin-right 5px

    .active
      .number-circle
        color #FFF
        border-color #FFF

    i.fa
      margin-left 20px
      color #FFF
      opacity 0.6


  @media (max-width: 767px)
    .navbar-header
      float left
    .navbar-nav
      margin 0
    .navbar-nav>li
      float left
