body
  -webkit-font-smoothing antialiased
  font-family 'Source Sans Pro', 'sans-serif'

.btn-primary
  background-color $primaryButtonBackground
  border 1px solid $primaryButtonBorder
  color $primaryButtonText
  padding 10px 24px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 16px

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary[disabled]:hover
  background-color $primaryButtonBackgroundHover
  border 1px solid $primaryButtonBorder
  color $primaryButtonText
