// Colours
$darkBlue = #1f354c
$mediumBlue = #b2c4d8
$lightBlue = #e9eff5

$primaryButtonBackground = #ffbe28
$primaryButtonBackgroundHover = #ffd36e
$primaryButtonBorder = #ac7516
$primaryButtonText = #1f374b

$pageBorderColor = #cbd9e6

$validationColor = #ffbe28

$defaultTextColour = #6f8398

$productBorderColour = #d4e0ed
