// Colours
$darkBlue = #1f354c
$mediumBlue = #b2c4d8

$primaryButtonBackground = #ffbe28
$primaryButtonBackgroundHover = #ffd36e
$primaryButtonBorder = #ac7516
$primaryButtonText = #1f374b

$pageBorderColor = #cbd9e6

$validationColor = #ffbe28
