.processing-overlay
  position absolute
  background-color #AAA
  color #FFF
  font-weight bold
  text-align center
  padding-top 100px
  height 100%
  width 100%
  top 0
  opacity 0.9
  font-size 20px
