.customer-name-capture
  margin-top 20px

  p
    color $darkBlue
    font-size 24px
    font-weight bold
    padding 0
    margin 0
  input
    margin-top 10px
    margin-bottom 20px
    height 40px
