.expert
  color #FFF
  text-align center
  padding-top 20px

  p
    font-size 20px

  img
    margin-top 10px
    margin-bottom 30px

  i
    color #FFF
    margin-right 10px

  .expert-phone
    margin-left 10px

  .expert-chat
    margin-bottom 20px
    i
      vertical-align middle

    a
      color #FFF
      text-decoration underline
    a:hover
      color #FFF

  .expert-siderbar-msg
    margin-top 30px
