.selected-answer
  width 175px
  display inline
  margin-left 10px
  margin-right 5px

.selected-answer-link
  color $darkBlue
  font-style italic
  margin-left 5px
  margin-right 2px
  text-decoration underline
